@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.woff2") format("woff2"),
    url("/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

body {
  background-color: #f4f4f7;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.b-container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.b-introduction__splash-screen {
  position: absolute;
  z-index: -1;
  filter: brightness(0.5);
}

.b-header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 92px;
}

.b-logo {
  margin-right: 120px;
}

.b-nav__list {
  list-style-type: none;
  display: flex;
}

.b-list-item:not(:last-child) {
  margin-right: 50px;
}

.b-list-item__link {
  text-decoration: none;
  color: #f4f4f7;
}

.b-list-item__link:hover {
  text-decoration: underline;
}

.b-language-switcher {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}

.b-button-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px solid #f4f4f7;
  box-sizing: border-box;
}

.b-button-wrap:hover {
  border-width: 1px;
}

.b-button-language {
  background-color: transparent;
  border: none;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  color: #f4f4f7;
}

.b-our-concept {
  padding: 0 200px 79px;
}

.b-our-concept__direction {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  margin: 0 auto 30px;
  letter-spacing: -0.75px;
  color: #f4f4f7;
}

.b-our-concept__goal {
  padding-right: 108px;
  font-size: 20px;
  line-height: 1.5;
  color: #f4f4f7;
}

.b-call-button {
  padding: 25px 100px 17px 200px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.b-button-text {
  display: inline-block;
  width: 280px;
  height: 30px;
  margin: 0 20px 0 0;
  font-size: 20px;
  line-height: 1.5;
  color: #f4f4f7;
}

.b-container__light {
  background-color: #ffffff;
  padding: 90px 200px 137px;
}

.b-our-approach {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  color: #2d2d42;
  margin-bottom: 30px;
}

.b-advantage {
  margin-bottom: 85px;
  font-size: 30px;
  line-height: 1.33;
  color: #2d2d42;
}

.b-card__image-wrap {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-card__image-wrap--project {
  background-color: #63c9e0;
}

.b-card__image {
  max-width: 60px;
  max-height: 60px;
}

.b-card__image-wrap--management {
  background-color: #f47e3d;
}

.b-card__image-wrap--digital {
  background-color: #d04b9b;
}

.b-tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b-card {
  width: 30%;
  margin-bottom: 70px;
}

.b-card__discription {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2d42;
}

.b-our-sevice__header {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin-bottom: 75px;
  color: #c0c6c8;
}

.b-our-sevice__service {
  column-count: 2;
  column-gap: 180px;
  width: 780px;
  height: 240px;
  margin: 0 auto;
}

.b-service__item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -60px;
  width: 30px;
  height: 1px;
  background-color: #64cae1;
}

.b-service__item {
  list-style-type: none;
  width: 380px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  color: #2d2d42;
  position: relative;
}

.b-portfolio__header {
  margin: 0 0 25px 200px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  color: #2d2d42;
}

.b-portfolio__concept {
  margin: 0 0 90px 200px;
  font-size: 30px;
  line-height: 1.33;
  color: #2d2d42;
}

.b-portfolio__main-case {
  position: relative;
  margin-bottom: 20px;
}

.b-sticker {
  width: 380px;
  height: 380px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-sticker--main-case {
  background-color: #64cae1;
  left: 200px;
  top: 200px;
  color: #f4f4f7;
}

.b-sticker__name {
  text-transform: uppercase;
  padding: 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.b-sticker__discription {
  font-size: 30px;
  line-height: 1.33;
  padding: 0 40px;
}

.b-portfolio__other-case {
  display: flex;
  flex-wrap: wrap;
}

.b-portfolio__other-case div:nth-of-type(add) {
  margin-right: 20px;
}

.b-other-case__link {
  text-decoration: none;
}

.b-other-case__card--margin {
  margin-right: 20px;
}

.b-other-case__img {
  margin-bottom: 40px;
}

.b-other-case__name {
  width: 440px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
  margin-bottom: 30px;
  color: #2d2d42;
}

.b-other-case__discription {
  width: 440px;
  font-size: 30px;
  line-height: 1.33;
  color: #2d2d42;
}

.b-our-team {
  position: relative;
}

.b-sticker--our-team {
  background-color: #f4f4f7;
  right: 200px;
  top: 200px;
  color: #2d2d42;
}

/* .b-inside {
  position: relative;
} */

.b-sticker__name--our-name {
  padding: 40px 40px 50px;
}

/* начинается блок инсайд */

.b-inside__header {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin: 0 0 25px 200px;
  color: #2d2d42;
}

.b-inside__concept {
  font-size: 30px;
  line-height: 1.33;
  margin: 0 0 90px 200px;
  color: #2d2d42;
}

.b-inside__img {
  margin-left: 200px;
}

.b-sticker--inside {
  width: 400px;
  bottom: 59px;
  background-color: #f4f4f7;
}

.b-sticker__name--inside {
  padding: 40px 100px 30px 0;
}

.b-sticker__discription--inside {
  padding: 0 60px 55px 0;
}

.b-slider {
  width: 400px;
  background-color: #f4f4f7;
}

.b-slider__name {
  text-transform: uppercase;
  /* padding: 40px; */
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.b-slider__discription {
  font-size: 30px;
  line-height: 1.33;
  /* padding: 0 40px; */
}

.b-slider__logo {
  width: 50px;
  height: 26px;
}

.b-slider__slide {
  display: flex;
  /* position: absolute; */
  /* bottom: 1%; */
}

.b-slider__item {
  width: 65px;
  height: 1px;
  background-color: #c0c6c8;
  margin-right: 8px;
  cursor: pointer;
  padding: 1px;
}

.b-slider__item:hover {
  background-color: #2d2d42;
}

.b-slider__item--selected {
  background-color: #2d2d42;
}

/* заканчивается блок инсайд */

.b-footer {
  background-color: #000000;
  padding-top: 100px;
  padding-left: 200px;
  position: relative;
}

.b-img-map {
  position: absolute;
  top: 180px;
  left: 249px;
}

.b-footer__contacts {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.b-contacts__text {
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
  color: #f4f4f7;
  margin-right: 265px;
}

.b-social-network__link {
  margin-right: 25px;
}

.b-location__text {
  width: 380px;
  font-size: 20px;
  line-height: 1.5;
  color: #f4f4f7;
  margin-bottom: 90px;
  position: relative;
}

.b-location__norway {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #64cae1;
  position: absolute;
  top: 257px;
  left: 670px;
}

.b-location__belarus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d04b9b;
  position: absolute;
  top: 282px;
  left: 754px;
}

.b-footer__address {
  display: flex;
  margin-bottom: 70px;
}

.b-address__norway,
.b-address__belarus {
  width: 380px;
  font-size: 15px;
  line-height: 1.67;
  color: #f4f4f7;
  margin-right: 118px;
  z-index: 1;
}

.b-country {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #f4f4f7;
}

.b-email {
  color: #64cae1;
}

.b-call-button__footer {
  background-color: #64cae1;
}
