* {
  margin: 0;
  padding: 0;
}

.b-container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.block1 {
  background-image: url(/img/img-header.png);
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
}

.logo {
  margin-right: 120px;
}

.header__list {
  list-style-type: none;
  display: flex;
  color: white;
}

.header__list_item:not(:nth-child(6)) {
  margin-right: 50px;
}

.nav__link {
 text-decoration: none;
 color: white;
}

.header__button {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}

.header__button-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px solid white;
  box-sizing: border-box;
}

.header__button-wrap:hover {
  border-width: 1px;
  /* transition: border-width 2s ease-in; */
}

.header__button-language {
  background-color: transparent;
  border: none;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}