@font-face {
  font-family: 'Roboto';
  src:
      url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff'),
      url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src:
      url('/fonts/Roboto-Black.woff2') format('woff2'),
      url('/fonts/Roboto-Black.woff') format('woff'),
      url('/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src:
      url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff'),
      url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.b-container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.splash-screen {
  background-image: url(/img/img-header.png);
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 92px;
}

.logo {
  margin-right: 120px;
}

.nav__list {
  list-style-type: none;
  display: flex;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.list-item__link {
  text-decoration: none;
  color: #f4f4f7;
}

.language-switcher {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}

.button-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px solid #f4f4f7;
  box-sizing: border-box;
}

.button-wrap:hover {
  border-width: 1px;
  /* transition: border-width 2s ease-in; */
}

.button-language {
  background-color: transparent;
  border: none;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  color: #f4f4f7;
}

.introduction {
  width: 780px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  margin: 0 auto 30px;
  letter-spacing: -0.75px;
  color: #f4f4f7;
}

.introduction__motto {
  width: 672px;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.5;
  padding-top: 30px;
  line-height: 1.5;
  color: #f4f4f7;
}

/* .call__button {
  padding: 25px 0;
  background-color: transparent;
  color: white;
  border: 1px solid white;
} */

.call {
  display: inline-block;
  padding: 25px 0px 25px 200px;
}

/* .button__arrow {
  display: inline-block;
  background-image: url(/img/ic-next.svg);
  width: 30px;
  height: 20px;
} */

/* button {
  padding: 25px 200px;
} */

/* button::after {
  content: url('img/ic-next.svg');
} */

.our-approach {
  width: 780px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  color: #2d2d42;
  margin: 0 auto 30px;
  padding-top: 90px;
}

.advantage {
  width: 780px;
  margin: 0 auto 85px;
  font-size: 30px;
  line-height: 1.33;
  color: #2d2d42;
}

.card {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}

.card-project {
  background-color: #63c9e0;
}

.card-project::after {
  content: url('img/ic-project.svg');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-management {
  background-color: #f47e3d;
}

.card-management::after {
  content: url('/img/management.svg');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-digital {
  background-color: #d04b9b;
}

.card-digital::after {
  content: url('/img/ic-digital.svg');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tools {
  display: flex;
  width: 780px;
  margin: 0 auto;
}

.tools__card:not(:last-child) {
  margin-right: 60px;
}

.card__discription {
  width: 240px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2d42;
}
